<div id='spy'>
<!-- SINGLE STATES -->
  <div class='ajax accent-yellow'>ajax</div>
  <div class='fullscreen'>fullscreen</div>

  <div class='fork color-fg'>fork</div>
  <div class='remote-theme'>remote-theme</div>

<!-- DUAL STATES -->
  <div class='updated accent-blue'>updated</div>
  <div class='behind accent-orange'>behind</div>

  <div class='guest'>guest</div>
  <div class='admin accent-forest'>admin</div>

  <div class='logged color-fg'>logged</div>
  <div class='unlogged accent-orange'>unlogged</div>

  <div class='online color-fg'>online</div>
  <div class='offline accent-red foreground-blink'>offline</div>

  <div class='blur background-bg'>blur&nbsp;</div>
  <div class='focus color-fg'>focus</div>
</div>