// Blockquotes
blockquote
  display: inline-block
  font-size: 110%
  margin: 1em 0
  padding: .5em .7em
  border-left: 6px solid var(--border)
  & > p
    @extend .mz

@each $color in $colors
  blockquote.background-#{$color}
    border-color: var(--color-#{$color})

