tt, code, kbd, samp,
pre[data-json], pre[data-yml]
  @extend .color-muted

// INLINE
code.highlighter-rouge
  @extend .highlight, .color-green, .pz

// BLOCKS HIGHLIGHTED
// Fenced, kramdown, indented:
// div.highlighter-rouge > div.highlight > pre.highlight > code
// liquid:
// figure.highlight > pre > code
.highlight pre
  @extend .background-muted, .mz, .border-radius
  white-space: pre-wrap
  line-height: 1.2
  padding: .8em
  font-size: 97%
  code
    @extend .pz

// Minimal Code Blocks
div.highlighter-rouge pre
  display: inline-block