form
  margin: .5em 0
  padding: 0 .7em
  border-left: 4px solid var(--border)
  h3
    margin-top: #{nth($headings-margins, 3)}em
    @extend .color-magenta
  [data-field]
    margin-block: .5em
    label
      margin-right: .3em
  [data-buttons]
    padding-block: .5em
    input
      margin-right: .5em

html.ajax form
  opacity: .5
  filter: saturate(0)
  pointer-events: none

input, select, output
  font-family: inherit
  font-size: inherit
  line-height: inherit
  appearance: none
  -webkit-appearance: none
  @extend .color-yellow
  border: 1px solid var(--border)
  border-radius: 3px
  background-color: var(--border)

input, label, button, select
  cursor: pointer
  &:focus
    outline: none
    border: 1px solid var(--color-yellow)
  &[disabled]
    cursor: not-allowed
    color: var(--fg-muted)

input[type='submit'],
input[type='reset'],
input[type='button'],
button
  @extend .link
  &:focus
    border-color: var(--fg)

// Hide number ARROWS
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button
//   -webkit-appearance: none !important
input[type=number]
  @extend .color-cyan
  -moz-appearance: textfield !important
  text-align: right
  &:focus-visible
    border: 1px solid var(--color-cyan)