// Reset margin and padding
.mz
  margin: 0
.pz
  padding: 0
.padding-around
  padding: $padding_around
.mpz
  @extend .mz, .pz

// BORDERS
.no-border
  border: none
.border
  border-width: 1px
.border-top
  border-width: 1px 0 0 0
.border-bottom
  border-width: 0 0 1px 0
.border-left
  border-width: 0 0 0 5px

// EVIDENT
.evident
  @extend .background-muted, .border-radius, .no-border, .padding-around
  margin-inline: .2em

// DISPLAY
.inline
  display: inline-block
.flex
  display: flex
.hidden, [hidden], template
  display: none

// BLINKS
.blink
  animation: blinker $blink step-start infinite
@keyframes blinker
  50%
    opacity: 0
// Background blink
.background-blink
  animation: background-blink $blink step-start infinite
@keyframes background-blink
  50%
    background: transparent
// Foreground blink
.foreground-blink
  animation: foreground-blink $blink step-start infinite
@keyframes foreground-blink
  50%
    color: transparent

// FULLSCREEN
html.fullscreen
  overflow: initial
  main
    padding-inline: .5em
    h1:first-child
      margin-top: 0
  header
    padding-inline: .7em .1em
    h1
      font-size: 1em
      font-family: $font-family
  footer
    display: none
  header, nav, main, footer
    max-width: none

// SCREEN MIXING
// Mobile screens are 40em (620px)
// element
//   @include mobile
//     content
@mixin mobile
  @media screen and (max-width: 40em)
    @content