// Reset margin and padding
.mz
  margin: 0
.pz
  padding: 0
.mpz
  @extend .mz, .pz

// BORDERS
.border
  border-width: 1px
.border-top
  border-width: 1px 0 0 0
.border-bottom
  border-width: 0 0 1px 0
.border-left
  border-width: 0 0 0 5px

// Flex
.flex
  display: flex

// HIDE
.hidden, [hidden], template
  display: none

// SAME-NAME STATES
html
  overflow-y: scroll
  background-color: var(--bg)
  &:not(.unlogged) .unlogged, &:not(.logged) .logged,
  &.online .offline, &:not(.online) .online,
  &:not(.behind) .behind, &:not(.updated) .updated,
  &.focus .blur, &:not(.focus) .focus,
  &:not(.scrolled) .scrolled,
  &:not(.logged) .guest,
  &:not(.logged) .admin,
  &:not(.admin) .admin,
  &:not(.ajax) .ajax,
  &:not(.guest) .guest,
  &:not(.fullscreen) .fullscreen,
  body:not([data-github-fork='true']) .fork,
  body:not([data-github-fork='false']) .unforked,
  body:not([data-github-environment='development']) .development,
  body:not([data-github-environment='production']) .production,
  body[data-github-remote-theme=''] .remote-theme,
  .only-child:not(:only-child)
    @extend .hidden

// BLINKS
.blink
  animation: blinker 1s step-start infinite
@keyframes blinker
  50%
    opacity: 0
// Background blink
.background-blink
  animation: back-blinker 1s step-start infinite
@keyframes back-blinker
  50%
    background: transparent

// FULLSCREEN FILLSCREEN
html.fullscreen
  overflow: initial
  body.fillscreen
    main
      padding-inline: .5em
      h1:first-child
        margin-top: 0
    header, footer
      display: none
    header, nav, main, footer
      max-width: none


// SCREEN MIXING
// Mobile screens are 40em (620px)
// element
//   @include mobile
//     content
@mixin mobile
  @media screen and (max-width: 40em)
    @content