.active-link
  &:hover
    text-decoration: underline
  &:active, &:focus, &.active
    color: var(--fg)

a, .link
  color: var(--link)
  text-decoration: none
  @extend .active-link

button, .button
  @extend .background-muted, .border-radius
  cursor: pointer
  border: none
  font-size: var(--font-size)
  font-family: system-ui
  color: var(--link)
  padding: .4em .7em
  margin-inline: .3em
  &:hover
    @extend .background-bg
  &:active
    @extend .color-fg

// link with inline code
a code.highlighter-rouge
  @extend .color-link