nav
  display: flex
  text-transform: uppercase
  justify-content: space-between
  &:first-of-type
    @extend .border-bottom
  > div
    display: flex
    @include mobile
      flex-direction: column
  a, span
    display: block
    padding: 0.5em