\:root

  // MAIN
  --bg: #{$bg}
  --fg-muted: #{$fg-muted}
  --fg: #{$fg}
  --link: #{$blue}
  --border: #{$border}

  // FONTS
  --font-size: #{$font-size}
  --font-family: #{$font-family}
  --headings-font-family: #{$headings-font-family}

  // COLORS
  --color-red: #{$red}
  --color-orange: #{$orange}
  --color-yellow: #{$yellow}
  --color-green: #{$green}
  --color-forest: #{$forest}
  --color-cyan: #{$cyan}
  --color-blue: #{$blue}
  --color-violet: #{$violet}
  --color-purple: #{$purple}
  --color-magenta: #{$magenta}
  --color-pink: #{$pink}

  // BACKGROUNDS
  --background-red: #{$background_red}
  --background-orange: #{$background_orange}
  --background-yellow: #{$background_yellow}
  --background-green: #{$background_green}
  --background-forest: #{$background_forest}
  --background-cyan: #{$background_cyan}
  --background-blue: #{$background_blue}
  --background-violet: #{$background_violet}
  --background-purple: #{$background_purple}
  --background-magenta: #{$background_magenta}
  --background-pink: #{$background_pink}