b, strong, i, em
  @extend .color-muted

// TITLE and CITE
p, span, code, li, small, q, cite, time, blockquote, abbr
  &[title], &[cite]
    cursor: default

// Super and sub scripts
mark
  background-color: var(--color-yellow)
  font-weight: bold

// Inserted and deleted
ins
  @extend .color-green
del
  @extend .color-red

// Number
.number
  text-align: right
  @extend .color-cyan