// MAIN
$bg:        hsl(210, 0%, 4%);
$fg:        hsl(210, 0%, 80%);
$fg-muted:  hsl(210, 0%, 55%);
$border:    hsl(210, 0%, 10%);

// COLORS
$red:       hsl(0, 60%, 60%);
$orange:    hsl(20, 60%, 60%);
$yellow:    hsl(60, 40%, 60%);
$green:     hsl(100, 40%, 60%);
$forest:    hsl(140, 60%, 60%);
$cyan:      hsl(180, 60%, 60%);
$blue:      hsl(210, 60%, 60%);
$violet:    hsl(240, 40%, 60%);
$purple:    hsl(260, 40%, 60%);
$magenta:   hsl(300, 40%, 60%);
$pink:      hsl(340, 40%, 60%);

// BACKGROUNDS
$background_opacity: .07;
$background_red: rgba($red,$background_opacity);
$background_orange: rgba($orange,$background_opacity);
$background_yellow: rgba($yellow,$background_opacity);
$background_green: rgba($green,$background_opacity);
$background_forest: rgba($forest,$background_opacity);
$background_cyan: rgba($cyan,$background_opacity);
$background_blue: rgba($blue,$background_opacity);
$background_violet: rgba($violet,$background_opacity);
$background_purple: rgba($purple,$background_opacity);
$background_magenta: rgba($magenta,$background_opacity);
$background_pink: rgba($pink,$background_opacity);

// TYPOGRAPHY
$font-size: 18px;
$headings-margins: 0.67 0.83 1 1.33 1.67 2.33;