$bg:        hsl(100, 0%, 4%);
$bg-muted:  hsl(100, 15%, 70%);
$fg:        hsl(100, 0%, 80%);
$border:    hsl(100, 0%, 10%);
// COLORS
$red:       hsl(0, 60%, 60%);
$orange:    hsl(20, 60%, 60%);
$yellow:    hsl(60, 60%, 60%);
$green:     hsl(100, 60%, 60%);
$forest:    hsl(140, 60%, 60%);
$cyan:      hsl(180, 60%, 60%);
$blue:      hsl(210, 60%, 60%);
$violet:    hsl(240, 60%, 60%);
$purple:    hsl(260, 60%, 60%);
$magenta:   hsl(300, 60%, 60%);
$pink:      hsl(340, 60%, 60%);
$font-size: 18px;
$headings-margins: 0.67 0.83 1 1.33 1.67 2.33;