$bg:        hsl(100, 0%, 4%);
$bg-muted:  hsl(100, 15%, 70%);
$fg:        hsl(100, 0%, 80%);
$border:    hsl(100, 0%, 10%);
$link:      hsl(100, 60%, 60%);
$font-size: 18px;
$headings-margins: 0.67 0.83 1 1.33 1.67 2.33;