Code
----
Inline CSS: `body[hidden]{ color: hsl(30, 40%, 50%);}`{:.language-css}  
Inline HTML: `<p data-type='ciro'></p>`{:.language-html}

__Fenced__  
<code>```yml ... ```</code>
```yml
city: 1
caos: "ok"
array:
  - 1
  - 2
  - three
array: [1, 2, "three"]
```

__Indented by 4 spaces__  
`{:.language-html}` ... emply line

{:.language-html}
    <body>
      <a href="#url">text</a>
    </body>

__Kramdown code block__  
`~~~ coffee ... ~~~`
~~~ coffee
console.log a, 'error'
c = (arg) -> arr.index()
$('body').append(arr)
~~~