{% assign first = include.data | where: include.field, include.value | first | map: 'date' %}<time datetime='{{ first }}'>{{ include.text }}</time>
{%- capture api -%}
Given a liquid array with a `date` field, show the relative time of the last occurence of a value for a field.

```liquid
{% raw %}{% include widgets/first.html data=site.data.csv field='serie' value='1' %}{% endraw %}
```
**Includes**
- `data`: liquid array
- `field`: field for the first occurence
- `value`: value for the first occurrence
- `text`: optional, text inside the `<time>`{:.language-html} element
{%- endcapture -%}