{% assign form = include.form %}
<form class='prevent {{ form.class }}'{% if form.type %} data-type='{{ form.type }}'{% endif %}{% if form.file %} data-file='{{ form.file }}'{% endif %}>
<h3>{{ form.name | default: 'Form' }}</h3>
{% for field in form.fields %}
  <div data-field='{{ field.name }}'>
  {% if field[1].type != 'hidden' %}<label for="{{ field[0] }}">{{ field[0] }}</label>{% endif %}
  {% case field[1].type %}
    {% when 'date' %}
      <input type="date" id='{{ field[0] }}' name='{{ field[0] }}'{% if field[1].default == 'today' %} value='{{ site.time | date: "%F" }}'{% endif %}>
    {% when 'select' %}
      <select name="{{ field[0] }}" id="{{ field[0] }}">
      {% for option in field[1].default %}
        <option value="{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
    {% when 'number' %}
      <input type="number" id='{{ field[0] }}' name='{{ field[0] }}'{% if field[1].default %} value='{{ field[1].default }}'{% endif %}>
    {% when nil %}
      <input type="text" id='{{ field[0] }}' name='{{ field[0] }}'{% if field[1].default %} value='{{ field[1].default }}'{% endif %}>
    {% when 'ref' %}
      {% assign csv = field[1].csv %}
      {% assign options = site.data[csv] %}
      <select name="{{ field[0] }}" id="{{ field[0] }}">
      {% assign property = field[1].property %}
      {% for option in options %}{% assign value = option[property] %}
        <option value="{{ value }}">{{ value }}</option>
      {% endfor %}
      </select>
  {% endcase %}
  </div>
{% endfor %}
  <div data-buttons>
    <input type="submit" value='Submit'>
    <input type="reset" value='Reset'>
  </div>
</form>
{% capture api %}

```liquid
{% raw %}
  {% include widgets/form.html form=page.form %}
{% endraw %}
```
- `include.form`: `yml` form
{% endcapture %}