{{ include.category | default: include.csv | default: include.json | default: "table" | capitalize }}
-----
{% if include.csv %}
  {% assign csv = site.data[include.csv] %}
  <table class='sort' data-limit='{{ include.limit }}'>
    <thead>
      <tr>
        {% for header in csv.first %}<th>{{ header[0] }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr class='only-child'><td>No data</td></tr>
    {% for row in csv %}
      {% if include.category and include.category contains row.category %}
      <tr data-row='{{ forloop.index }}'>{% for cell in row %}
        <td data-header='{{ cell[0] }}' data-value='{{ cell[1] }}'>{% if cell[0] == "date" %}
          <time datetime="{{ cell[1] | date_to_rfc822 }}">{{ cell[1] }} </time>{% else %}{{ cell[1] }}{% endif %}</td>
        {% endfor %}
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% elsif include.json %}
<div class="highlight highlighter-rouge"><pre data-json>{{ site.data[include.json] | jsonify }}</pre></div>
{% endif %}
```json
{
  "ciao": 4,
  "roma": "GO go",
  "lista": [
    1,
    2,
    4
  ]
}
```
{% capture api %}

```liquid
{% raw %}{% include widgets/view.html csv="list" %}
{% include widgets/view.html json="object" %}{% endraw %}
```

Example css style
```css
td[data-value='briefing']{color:var(--color-green)}
td[data-value='bill']{color:var(--color-orange)}
td[data-value='trash']{color:var(--fg-muted)}
```
{% endcapture %}